@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

.scroll-animation {
  line-height: normal;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

.scroll-animation {
  line-height: normal;
}

.rent-header {
  background-color: #3151aa;
  width: 100%;
  padding: 50px 0;
}

.rent-header-container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 30px 0px;
  background-color: inherit;
}

.rent-cars-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1em;
}

.rent-cars-call {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  opacity: 0;
  visibility: hidden;
}

.rent-cars-call-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
  min-height: 40px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -webkit-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
  background-color: #3c496f;
  font-size: 24px;
  padding: 25px;
}
.rent-cars-call-btn:hover, .rent-cars-call-btn:focus {
  background-color: #16437E;
  color: #ffffff;
}
.rent-cars-call-btn:active {
  background: #09223b;
  color: rgba(255, 255, 255, 0.7);
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

.header-top {
  background-color: #fff;
  width: 90%;
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header-top > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.header-top .header-logo {
  width: 110px;
}
.header-top .header-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-top nav {
  -ms-grid-column-align: end;
      justify-self: end;
}
.header-top .header-menu-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: rgb(116, 113, 113);
  margin-right: 15px;
  position: relative;
}
.header-top .header-menu-links:hover {
  color: #000;
}
.header-top .header-menu-links:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.header-top .header-menu-links:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.header-img {
  width: 100%;
}

.header-cards {
  width: 90%;
  margin: -9% auto 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.header-cards .header-cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 30px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  text-align: center;
  opacity: 0.93;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header-cards .header-cards-card:hover {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  cursor: pointer;
  opacity: 1;
}
.header-cards .item-1 {
  background-color: #3151aa;
  width: 100%;
  height: 100%;
}
.header-cards .item-2 {
  background: #5b6149;
}
.header-cards .item-3 {
  background: #945a5c;
}
.header-cards img {
  width: 85px;
}
.header-cards h2 {
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 25px;
}
.header-cards p {
  font-style: italic;
  margin-top: 20px;
}

.header-contacts {
  margin: 5% auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-transform: translate(-55%);
          transform: translate(-55%);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  opacity: 0;
  visibility: hidden;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-contact p {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}